.stepper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.step {
    text-align: center;
}

.step .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: lightgray;
    color: black;
    margin: 0 auto;
}

.step.active .circle {
    background-color: blue;
    color: white;
}

.step p {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

.step.active p {
    color: black;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation-buttons button {
    min-width: 120px;
    height: 65px;
    flex-shrink: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background: #5179EF;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.step-content input{
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    padding-left: 10px;
}
.step-content{
    padding: 100px 0;
}

.name-surname-input{
    display: flex;
    justify-content: space-evenly;
}
.name-surname-input input{
    width: 250px;
    height: 40px;
    flex-shrink: 0;
}
.email-country-input{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 15px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.email-input input, .country-input input{
    width: 100%;
    height: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}