.admin-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.admin-page h2 {
    text-align: center;
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.admin-form input,
.admin-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-form button {
    padding: 10px 20px;
    background-color: #5179EF;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-form button:hover {
    background-color: #3260ee;;
}
